@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-size-base: 0.875rem !default;

$primary: #2f3252 !default;
$dark: #242542 !default;
$success: #2fd326 !default;
$secondary: #858798 !default;
$danger: #e61657 !default;
$input-btn-padding-y: 0.875rem !default;
$input-btn-padding-x: 1rem !default;
$border-radius: .625rem !default;
$form-check-label-cursor: pointer;
$form-check-input-checked-bg-color: $success !default;
$dropdown-link-active-bg: #e9ecef !default;

$tooltip-bg: $primary;
$tooltip-font-size: $font-size-base;

$accordion-color: $secondary;
$accordion-bg: $primary;
$accordion-border-color: $primary;
$accordion-border-radius: 0;
$accordion-button-active-color: #fff;
$accordion-button-active-bg: $primary;
$accordion-icon-color: $secondary;
$accordion-icon-active-color: #fff;
$popover-body-padding-y: .5em !default;
$popover-body-padding-x: 1em !default;

@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";
@import "~select2-bootstrap-5-theme/src/select2-bootstrap-5-theme";
@import "../select2-bootstrap-5-dark-theme/src/select2-bootstrap-5-dark-theme";


//::-webkit-scrollbar {
//  width: 7px;
//}
//::-webkit-scrollbar-track {
//  background: rgb(0, 0, 0, 0.4);
//  border-radius: 7px;
//}
//::-webkit-scrollbar-thumb {
//  background: $primary;
//  border-radius: 7px;
//  height: 80%;
//}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/*track*/
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
/*thumb*/
::-webkit-scrollbar-thumb {
  background: #85879875;
  border-radius: 5px;
}
* {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(255, 255, 255, 0.1) #85879875;
}

:root {
  --bs-body-font-family: 'Poppins', sans-serif;
  --bs-body-bg: #242542;
  --swiper-navigation-size: 12;
  --swiper-theme-color: #fff;
  --swiper-pagination-bullet-inactive-color: #858798;
}
.filter-datepicker {
  .datepicker-inline {
    background-color: $primary;
    width: 100% !important;
    border-radius: $border-radius;
    padding: 0.5rem;
    table {
      width: 100%;
    }
  }
}


html {
  background-color: var(--bs-body-bg);
}
.backdrop-filter {
  backdrop-filter: blur(16px) saturate(180%);
}

.card-login {
  width: 450px;

  .nav-link.active.bg-opacity-50 {
    --bs-bg-opacity: 1;
  }

  .nav-link.active::after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: linear-gradient(180deg, #21cbcb 0%, #60ff38 100%);
  }
}
#btn-menu {
  i {
    width: 20px;
  }
}
.top-4 {
  top: 4px
}
.bottom-4 {
  bottom: 4px
}
.start-4 {
  left: 4px
}
.end-4 {
  right: 4px
}

.top--4 {
  top: -4px
}
.bottom--4 {
  bottom: -4px
}
.start--4 {
  left: -4px
}
.end--4 {
  right: -4px
}

.badge-active {
  position: absolute;
  background-color: $success;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
}
.badge-count {
  background-color: $danger;
  color: $white;
  position: absolute;
  border-radius: var(--bs-border-radius-pill);
  font-size: .75rem;
  font-weight: $font-weight-bold;
  padding: 0 0.3em;
}
.btn-avatar {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  background-color: #2fd326;
}
.h-main {
  min-height: calc(100vh - 153px);
}
.main-container {
  padding-bottom: 5.2rem;
  padding-top: 4.4rem;
}
.has-sidebar {
  padding-left: 70px;
}
.p-sidebar {
  padding-left: 200px;
}
.p-filter {
  padding-right: 300px;
}
.thumbnail-avatar {
  width: 150px;
  height: 150px;
  background: linear-gradient(to bottom, #21cbcb, #60ff38);
  padding: 2px;
}
.dropdown-scroll {
  width: 350px;

  ul {
    max-height: 480px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

}
.logo-event {
  max-height: 120px;
}

.dropdown-live-img {
  width: 50px;
  height: 50px;

  > .badge {
    bottom: -8px;
    left: 8px
  }
}
.sidebar {
  width: 200px;
  z-index: 2;
  ul {
    li {
      max-height: 48px;
    }
  }
}
.logo-event-header {
  max-height: 72px;
}
.sidebar-min {
  width: 70px;
  .btn-nav-link {
    justify-content: center;
    i {
      margin-right: 0 !important;
    }
    span {
      display: none;
    }
  }
}
.btn-nav-link {
  @include button-variant(
                  $dark,
                  $dark,
                  $secondary,
                  $primary,
                  $primary,
                  $white,
                  $primary,
                  $primary,
                  $white,
                  $dark,
                  $dark,
                  $dark
  );
  position: relative;
}
.filters {
  width: 300px;
  z-index: 2;
}
.show-filters {
  z-index: 2;
  position: fixed;
  right: 0;
  top: 78px;
  border-radius: var(--bs-btn-border-radius) 0 0 var(--bs-btn-border-radius);
}
.input-group-overlay {
  right: 10px;
  top: 16px;
  cursor: pointer;
}
.form-control-primary {
  background-color: $primary;
  color: $white;
  border-color: $primary;

  &:focus {
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }
  &::placeholder {
    color: $secondary;
  }
}
.accordion-body {
  background-color: $dark;
}
.h-150px {
  height: 150px;
}
.h-250px {
  height: 250px;
}
.h-60px {
  height: 60px;
}
.badge-icon-sm {
  width: 28px;
  height: 28px;
}
.badge-icon-xs {
  width: 24px;
  height: 24px;
  i {
    font-size: 0.75rem;
  }
}
.text-2-row {
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.event-select2 .select2-selection--single {
  padding-top: 0;
  padding-bottom: 0;
}
.min-w-100 {
  min-width: 100%;
}
.ms--15 {
  margin-left: -1rem;
}

.btn-dropdown-chat {
  &:hover {
    .header-chat {
      background-color: $white !important;
      i.fa-angle-down {
        display: block;
      }
      small {
        display: none;
      }
    }
  }
  &.show {
    a {
      visibility: hidden !important;
    }
    .header-chat {
      background-color: $white !important;
      i.fa-xmark {
        display: block;
      }
      i.fa-angle-down {
        display: none;
      }
      small {
        display: none;
      }
    }
  }
  .header-chat {
    i {
      display: none;
    }
  }
}

.contact-map {
  z-index: 1;
  right: 2rem;
  bottom: 2rem;
  top: 2rem;
}
.card-track {
  border: 0;
  background: linear-gradient( 90deg, rgba(2, 0, 36, 1) 0%, rgba(47, 47, 106, 1) 77%, rgba(63, 69, 103, 1) 100% );
  border-left: 10px solid $white;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 2px 8px #242542;
  }
}
.card-info-category {
  height: 100px;
  img {
    object-fit: contain;
    height: 100px;
  }
}
.info-gallery {
  height: 200px;
  cursor: pointer;
  &:hover {
    p {
      display: flex;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  p {
    z-index: 2;
    display: none;
    transition: all 0.3s;
    top: .8rem;
    bottom: .8rem;
    left: .8rem;
    right: .8rem;
  }
}
.card-testimonial {
  img {
    width: 100px;
    height: 100px;
    margin-top: -50px;
  }
}
#carousel-testimonials {
  .carousel-control-prev,
  .carousel-control-next {
    top: 50px;
  }
}
.video-fixed {
  max-height: calc(100vh - 155px);
  object-fit: cover;
}
.card-session {
  z-index: 3;
}

.card-back {
  &:before {
    content: ' ';
    position: relative;
    width: 98%;
    height: 20px;
    margin: 0 auto;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 2;
    display: block;
    background-color: $primary;
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius;
  }
  &:after {
    content: ' ';
    position: relative;
    width: 96%;
    z-index: 1;
    height: 22px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
    display: block;
    background-color: $primary;
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius;
  }
}
.modal-xxl {
  width: 80vw;
  max-width: 100%;
}

@include media-breakpoint-down(lg) {
  .sidebar {
    z-index: 1031;
  }
  .has-sidebar {
    padding-left: 0;
  }
  .contact-map {
    position: relative !important;
    background-color: $dark !important;
    width: 100% !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
