@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-size-base: 0.875rem !default;

$primary: rgba(237, 237, 237, 1) !default; /* rgba(237, 237, 237, 1) */  /*  #F6F6F6  ->default card cu sahdow si border identic */
$dark: rgba(36, 37, 66, 1) !default;
$success: #2fd326 !default;
$secondary: rgba(133, 135, 152, 1) !default;
$danger: #e61657 !default;
$light: rgba(40, 41, 72, 1) !default;

/* Default Helper */
$body-bg: rgba(255, 255, 255, 1) !default;
$body-color: rgba(40, 41, 72, 1) !default;
$link-color: $body-color !default;
$link-hover-color: '';

/* NavBar Header */
$navbarBg: rgba(255, 255, 255, 0.75);
$navbar-light-color: rgba(40, 41, 72, 1);
$navbarBorderColor: rgba(246, 246, 246, 1);

/* Sidebar  */
$sidebarBg: rgba(255, 255, 255, 1);

/* Footer */
$footerBg: rgba(255, 255, 255, 0.75);
$footerColor: rgba(40, 41, 72, 1);
$footerBorderColor: rgba(246, 246, 246, 1);

/* Tooltip color */
$tooltip-bg: rgba(237, 237, 237, 1)  !default;
$tooltip-color: rgba(47, 50, 82, 1) !default;

/* Card */
$card-border-color: rgba(246, 246, 246, 1);
$card-bg: rgba(246, 246, 246, 1);
$card-cap-bg: rgba(246, 246, 246, 1);
$card-color: rgba(40, 41, 72, 1);

/* Event info section */
$sectionEven: rgba(255, 255, 255, .75);
$sectionOdd: rgba(237, 237, 237, 1);

/* Event info card Track and ticket */
$cardTrackBg: linear-gradient(80deg, #3DE0CF 0%, #37CBBC 27%, #279389 100%);
$cardTrackColor: rgba(255, 255, 255, 1);

/* Swiper color arrow navigator */
$carousel-control-color: $secondary;

/* Dropdown */
$dropdown-color: rgba(40, 41, 72, 1) !default;

/* Form control primary folosit in site cu exceptia modal */
$formControlPrimaryBg: rgba(233, 233, 233, 1);
$formControlPrimaryColor: rgba(40, 41, 72, 1);
$formControlPrimaryBorder: rgba(233, 233, 233, 1);
$s2bs5d-indicator-color: rgba(133, 135, 152, 1);

/* Form control use in modal */
$input-bg: rgba(255, 255, 255, 1);
$input-color: rgba(47, 50, 82, 1);

$input-btn-padding-y: 0.875rem !default;
$input-btn-padding-x: 1rem !default;
$border-radius: .625rem !default;
$form-check-label-cursor: pointer;
$form-check-input-checked-bg-color: $success !default;
$dropdown-link-active-bg: #e9ecef !default;


$tooltip-font-size: $font-size-base;

$accordion-color: $secondary;
$accordion-bg: $primary;
$accordion-border-color: $primary;
$accordion-border-radius: 0;
$accordion-button-active-color: #fff;
$accordion-button-active-bg: $primary;
$accordion-icon-color: $secondary;
$accordion-icon-active-color: #fff;
$popover-body-padding-y: .5em !default;
$popover-body-padding-x: 1em !default;

$zindex-popover: 1090 !default;

$table-border-color: $primary;
$table-hover-bg: #3F4567;
$table-color: #fff;
$table-cell-padding-y: 1rem;
$table-cell-padding-x: 1rem;

$pagination-disabled-bg: transparent;
$pagination-border-width: 0;
$pagination-bg: transparent;
$pagination-color: $secondary;
$pagination-hover-bg: $primary;
$pagination-hover-color: #fff;
$pagination-focus-bg: transparent;
$pagination-focus-color: #fff;

$progress-bar-bg: linear-gradient(270deg, #21CBCB 0%, #60FF38 100%);
$progress-bg: $primary;
$progress-height: .75rem;

@import "~bootstrap/scss/bootstrap";
@import "~select2/src/scss/core";
@import "~select2-bootstrap-5-theme/src/select2-bootstrap-5-theme";
@import "../select2-bootstrap-5-dark-theme/src/select2-bootstrap-5-dark-theme";

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/*track*/
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
/*thumb*/
::-webkit-scrollbar-thumb {
  background: #85879875;
  border-radius: 5px;
}
* {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(255, 255, 255, 0.1) #85879875;
}

:root {
  --bs-body-font-family: 'Poppins', sans-serif;
  --swiper-navigation-size: 12;
  --swiper-theme-color: red;
  --swiper-pagination-bullet-inactive-color: #858798;
}
.filter-datepicker {
  .datepicker-inline {
    background-color: $primary;
    width: 100% !important;
    border-radius: $border-radius;
    padding: 0.5rem;
    table {
      width: 100%;
    }
  }
}

.backdrop-filter {
  backdrop-filter: blur(16px) saturate(180%);
}

.navbar-main {
  background-color: #{$navbarBg};
  border-color: #{$navbarBorderColor} !important;
}
.sidebar,
.aside,
.aside-box,
.filters {
  background-color: #{$sidebarBg};
}
.footer-main {
  background-color: #{$footerBg};
  border-color: #{$footerBorderColor} !important;
  color: #{$footerColor};
}

/* event info section */
.section-even {
  background-color: #{$sectionEven};
}
.section-odd {
  background-color: #{$sectionOdd};
}

.card-login {
  width: 450px;

  .nav-link.active.bg-opacity-50 {
    --bs-bg-opacity: 1;
  }

  .nav-link.active::after {
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: linear-gradient(180deg, #21cbcb 0%, #60ff38 100%);
  }
}
#btn-menu {
  i {
    width: 20px;
  }
}
.top-4 {
  top: 4px
}
.bottom-4 {
  bottom: 4px
}
.start-4 {
  left: 4px
}
.end-4 {
  right: 4px
}

.top--4 {
  top: -4px
}
.bottom--4 {
  bottom: -4px
}
.start--4 {
  left: -4px
}
.end--4 {
  right: -4px
}
.box-floating-chat {
  bottom: 80px;
}
.card-floating-chat {
  width: 380px;
  height: 500px;
}
.badge-active {
  position: absolute;
  background-color: $success;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
}
.badge-count {
  background-color: $danger;
  color: $white;
  position: absolute;
  border-radius: var(--bs-border-radius-pill);
  font-size: .75rem;
  font-weight: $font-weight-bold;
  padding: 0 0.3em;
}
.btn-avatar {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  background-color: #2fd326;
}
.h-main {
  min-height: calc(100vh - 153px);
}
.main-container {
  padding-bottom: 5.4rem;
  padding-top: 4.55rem;
}
.has-sidebar{
  padding-left: 76px;
}
.has-aside {
  padding-right: 76px;
}
.p-sidebar {
  padding-left: 200px;
}
.has-filter {
  padding-right: 350px;
}
.p-aside {
  padding-right: 200px;
}
.thumbnail-avatar {
  width: 150px;
  height: 150px;
  background: linear-gradient(to bottom, #21cbcb, #60ff38);
  padding: 2px;
}
.dropdown-scroll {
  width: 350px;
  ul {
    max-height: 480px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

}
.logo-event {
  max-height: 120px;
}

.dropdown-live-img {
  width: 50px;
  height: 50px;

  > .badge {
    bottom: -8px;
    left: 8px
  }
}
.sidebar,
.aside {
  width: 200px;
  z-index: 10;
  ul {
    li {
      max-height: 48px;
    }
  }
}
.logo-event-header {
  max-height: 72px;
}

.filters,
.aside-box {
  width: 350px;
  z-index: 10;
}

.sidebar-min,
.aside-min {
  z-index: 10;
  width: 76px;
  .btn-nav-link {
    justify-content: center;
    i {
      margin-right: 0 !important;
    }
    span:not(.badge-count) {
      display: none;
    }
  }
}
.btn-nav-link {
  @include button-variant(
                  rgba(255, 255, 255, 1),
                  rgba(255, 255, 255, 1),
                  rgba(77, 78, 102, 1),
                  rgba(77, 78, 102, 1),
                  rgba(77, 78, 102, 1),
                  rgba(255, 255, 255, 1),
                  rgba(77, 78, 102, 1),
                  rgba(77, 78, 102, 1),
                  rgba(255, 255, 255, 1),
                  rgba(255, 255, 255, 1),
                  rgba(255, 255, 255, 1),
                  rgba(237, 237, 237, 1)
  );
  position: relative;
}
.btn-icon {
  @include button-variant(
                  transparent,
                  transparent,
                  $secondary,
                  transparent,
                  transparent,
                  $body-color,
                  transparent,
                  transparent,
                  $body-color,
                  transparent,
                  transparent,
                  $body-color,
  );
  position: relative;
}
.has-aside-expand {
  padding-right: 75%;
}
.input-group-overlay {
  right: 10px;
  top: 16px;
  cursor: pointer;
}
.form-control-primary {
  background-color: $formControlPrimaryBg;
  color: $formControlPrimaryColor;
  border-color: $formControlPrimaryBorder;

  &:focus {
    color: $formControlPrimaryColor;
    background-color: $formControlPrimaryBg;
    border-color: $formControlPrimaryBorder;
  }
  &::placeholder {
    color: $secondary;
  }
  &::file-selector-button {
    color: $secondary;
    @include gradient-bg($primary);
  }
}
.d-none-choose::file-selector-button {
  display: none;
}
.form-control-dark {
  background-color: $dark;
  color: $white;
  border-color: $dark;

  &:focus {
    color: $white;
    background-color: $dark;
    border-color: $dark;
  }
  &::placeholder {
    color: $secondary;
  }
}
.accordion-body {
  background-color: $dark;
}
.h-150px {
  height: 150px;
}
.h-250px {
  height: 250px;
}
.h-60px {
  height: 60px;
}
.badge-icon-sm {
  width: 28px;
  height: 28px;
}
.badge-icon-xs {
  width: 24px;
  height: 24px;
  i {
    font-size: 0.75rem;
  }
}
.text-2-row {
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.event-select2 .select2-selection--single {
  padding-top: 0;
  padding-bottom: 0;
}
.min-w-100 {
  min-width: 100%;
}
.ms--15 {
  margin-left: -1rem;
}

.btn-dropdown-chat {
  &:hover {
    .header-chat {
      background-color: $white !important;
      i.fa-angle-down {
        display: block;
      }
      small {
        display: none;
      }
    }
  }
  &.show {
    a {
      visibility: hidden !important;
    }
    .header-chat {
      background-color: $white !important;
      i.fa-xmark {
        display: block;
      }
      i.fa-angle-down {
        display: none;
      }
      small {
        display: none;
      }
    }
  }
  .header-chat {
    i {
      display: none;
    }
  }
}

.contact-map {
  z-index: 1;
  right: 2rem;
  bottom: 2rem;
  top: 2rem;
}
.card-track {
  border: 0;
  background: $cardTrackBg; //linear-gradient( 90deg, rgba(2, 0, 36, 1) 0%, rgba(47, 47, 106, 1) 77%, rgba(63, 69, 103, 1) 100% );
  color: $cardTrackColor;
  border-left: 10px solid $white;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.02);
  }
}
.card-info-category {
  height: 100px;
  img {
    object-fit: contain;
    height: 100px;
  }
}
.info-gallery {
  height: 200px;
  cursor: pointer;
  &:hover {
    p {
      display: flex;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  p {
    z-index: 2;
    display: none;
    transition: all 0.3s;
    top: .8rem;
    bottom: .8rem;
    left: .8rem;
    right: .8rem;
  }
}
.card-testimonial {
  img {
    width: 100px;
    height: 100px;
    margin-top: -50px;
  }
}
#carousel-testimonials {
  .carousel-control-prev,
  .carousel-control-next {
    top: 50px;
  }
}
.video-fixed {
  max-height: calc(100vh - 155px);
  object-fit: cover;
}
.card-session {
  z-index: 3;
  .session-speaker {
    overflow-wrap: anywhere;
  }
}

.card-back {
  &:before {
    content: ' ';
    position: relative;
    width: 98%;
    height: 20px;
    margin: 0 auto;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 2;
    display: block;
    background-color: $primary;
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius;
  }
  &:after {
    content: ' ';
    position: relative;
    width: 96%;
    z-index: 1;
    height: 22px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
    display: block;
    background-color: $primary;
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius;
  }
}
.card-speaker {
  cursor: pointer;
  .card-img {
    height: 300px;
    object-fit: cover;
  }
  .card-img-overlay {
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;
      height: 30%;
      background: linear-gradient(to top, #242542, rgba(36, 37, 66, 0));
    }
    > div {
      z-index: 1;
    }
  }
}
.modal-xxl {
  width: 80vw;
  max-width: 100%;
}
.crop-ticket-top,
.crop-ticket-bottom {
  width: 16px;
  height: 16px;
  background-color: $dark;
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 8px;
}
.crop-ticket-bottom {
  top: auto;
  bottom: -8px;
}
.ticket-border {
  border-right: 1px dashed $dark;
}
.invalid-feedback {
  &.invalid-arrow:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $white;
    position: absolute;
    top: -3px;
    left: 12px;
  }
}
.card-event-added {
  width: 40%;
}
#box-modal-phone-prefix {
  .select2-selection {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.badge-like {
  span {
    cursor: pointer;
    font-size: 0;
    transition: all 0.5s;
  }
  &:hover {
    span {
      font-size: 0.656rem;
    }
  }
}
.aside-content-tab {
  height: calc(100vh - 350px);
}
.card-partner {
  cursor: pointer;
  .card-body {
    height: 90px;
    overflow: hidden;
  }
  img {
    height: 180px;
    background-color: $white;
    object-fit: contain;
  }
  .card-content {
    height: 180px;
    background-color: $white;
    &:hover {
      p {
        display: flex !important;
      }
    }
  }
}
.popover-rooms {
  min-width: 300px;
  .popover-img {
    width: 60px;
    height: 60px;
    img {
      object-fit: contain;
    }
  }
}
.footer-booth-img {
  width: 60px;
  height: 60px;
  img {
    object-fit: contain;
  }
}
.card-partner-search {
  a {
    max-height: 80px;
  }
  img {
    object-fit: cover;
  }
}
.floating-chatroom,
.floating-question,
.floating-search {
  width: 400px;
}
.floating-modal {
  backdrop-filter: blur(30px);
}
.btn-close-floating {
  top: 32px;
  right: 32px;
  width: 32px;
  height: 32px;
}
//.card-collection {
//  width: 150px;
//}
.overflow-wrap {
  overflow-wrap: anywhere;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.networking-chat {
  height: calc(100vh - 303px);
}
.networking-conversation {
  cursor: pointer;
  position: relative;
}
.networking-conversation-active {
  background-color: #3f4567 !important;
  &:after {
    position: absolute;
    right: -6px;
    content: ' ';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #3f4567;
  }
}
.networking-menu {
  a {
    color: $secondary;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}
.card-attendee {
  cursor: pointer;
  &:hover {
    .card-img-overlay {
      background-color: $primary;
    }
    .card-attendee-info {
      div {
        display: flex !important;
      }
    }
  }
  .card-img {
    height: 300px;
    object-fit: cover;
  }
  .card-img-overlay {
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;
      height: 30%;
      background: linear-gradient(to top, #242542, rgba(36, 37, 66, 0));
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    > div {
      z-index: 1;
    }
  }
  button:hover,
  a:hover {
    color: $success !important;
  }
}
.card-eposter {
  cursor: pointer;
  &:hover {
    .card-img-overlay {
      justify-content: start !important;
      background-color: $primary;
      .card-text {
        display: none;
      }
      .card-full-text {
        display: block !important;
      }
    }
  }
  .card-img {
    height: 300px;
    object-fit: cover;
  }
  .card-img-overlay {
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;
      height: 30%;
      background: linear-gradient(to top, #242542, rgba(36, 37, 66, 0));
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    > div {
      z-index: 1;
    }
  }
}

.fa-star-active {
  color: #EFC529;
}

.progress-badge {
  img {
    width: 18px;
  }
}
.leaderboard-progress {
  background-color: $primary;
  height: 5px;
  .progress-bar {
    background: transparent linear-gradient(90deg, #21CBCB 0%, #60FF38 100%) 0% 0% no-repeat padding-box;
  }
}
.leaderboard-avatar {
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  background-color: #2fd326;
  span {
    background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='34' height='39' viewBox='0 0 34 39'><g transform='translate(-168.163 -234.582)'><path id='Polygon_12' data-name='Polygon 12' d='M29.25,0,39,17,29.25,34H9.75L0,17,9.75,0Z' transform='translate(202.163 234.582) rotate(90)' fill='#ff0057'/><path id='Polygon_12_-_Outline' data-name='Polygon 12 - Outline' d='M10.909,2l-8.6,15,8.6,15H28.091l8.6-15-8.6-15H10.909M9.75,0h19.5L39,17,29.25,34H9.75L0,17Z' transform='translate(202.163 234.582) rotate(90)' fill='#fff'/></g></svg>"));
    width: 34px;
    height: 39px;
  }
}

.card-quest {
  width: 200px;
  .card-text {
    height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .badge {
    right: -6px;
    top: 6px;
  }
  .leaderboard-progress {
    background-color: $dark;
  }
}
.card-point {
  width: 200px;
  height: 250px;
  .badge {
    right: -6px;
    top: 6px;
  }
}
.owl-theme .owl-nav {
  position: absolute;
  right: 10px;
  top: -40px;
  margin-top: 0;
  button:hover {
    background-color: transparent !important;
  }
}

.card-product {
  height: 400px;
  .card-img-top {
    height: 60%;
  }
  .card-body {
    height: 40%;
  }
  .card-title {
    height: 42px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .badge-product {
    top: 16px;
  }
}
.product-thumb {
  width: 60px;
  height: 60px;
  cursor: pointer;
  img {
    object-fit: contain;
  }
}
.card-product-detail {
  min-height: 50vh;
}
.product-supplier {
  height: 70px;
  img {
    object-fit: cover;
  }
}
.container-photo-booth {
  width: 100%;
  height: 100%;
  background-image: url(https://media.myconnector.ro/images/back_photo-p-1600.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.card-exhibitor-folder {
  width: 234px;
  height: 180px;
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='233.876' height='179.907' viewBox='0 0 233.876 179.907'> <defs> <filter id='Icon_awesome-folder' x='0' y='0' width='233.876' height='179.907' filterUnits='userSpaceOnUse'> <feOffset dy='3' input='SourceAlpha'/> <feGaussianBlur stdDeviation='3' result='blur'/> <feFlood flood-opacity='0.161'/> <feComposite operator='in' in2='blur'/> <feComposite in='SourceGraphic'/> </filter> </defs> <g id='Group_3515' data-name='Group 3515' transform='translate(-789.614 -127.371)'> <rect id='Rectangle_1473' data-name='Rectangle 1473' width='191.372' height='57.529' rx='10' transform='translate(810.866 127.5)' fill='#fff'/> <g transform='matrix(1, 0, 0, 1, 789.61, 127.37)' filter='url(#Icon_awesome-folder)'> <path id='Icon_awesome-folder-2' data-name='Icon awesome-folder' d='M195.638,31.485H89.948L75.344,4.5H20.238A20.238,20.238,0,0,0,0,24.738V146.169a20.238,20.238,0,0,0,20.238,20.238h175.4a20.238,20.238,0,0,0,20.238-20.238V51.723A20.238,20.238,0,0,0,195.638,31.485Z' transform='translate(9 1.5)' fill='#2f3252'/> </g> </g> </svg> "));
  background-repeat: no-repeat;
}

.card-exhibitor-folder-empty {
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='233.876' height='179.907' viewBox='0 0 233.876 179.907'> <defs> <filter id='Icon_awesome-folder' x='0' y='0' width='233.876' height='179.907' filterUnits='userSpaceOnUse'> <feOffset dy='3' input='SourceAlpha'/> <feGaussianBlur stdDeviation='3' result='blur'/> <feFlood flood-opacity='0.161'/> <feComposite operator='in' in2='blur'/> <feComposite in='SourceGraphic'/> </filter> </defs> <g transform='matrix(1, 0, 0, 1, 0, 0)' filter='url(#Icon_awesome-folder)'> <path id='Icon_awesome-folder-2' data-name='Icon awesome-folder' d='M195.638,31.485H89.948L75.344,4.5H20.238A20.238,20.238,0,0,0,0,24.738V146.169a20.238,20.238,0,0,0,20.238,20.238h175.4a20.238,20.238,0,0,0,20.238-20.238V51.723A20.238,20.238,0,0,0,195.638,31.485Z' transform='translate(9 1.5)' fill='#2f3252'/> </g></svg>"));
}
.card-exhibitor-general {
  width: 250px;
  background: transparent linear-gradient(167deg, #FF0057 0%, #800080 100%) 0% 0% no-repeat padding-box;
  .progress {
    background: transparent linear-gradient(270deg, #FFFFFFD9 0%, #FFFFFF1A 100%) 0 0 no-repeat padding-box;
    height: 36px;
    .progress-bar {
      font-size: 1.5rem;
      color: $white;
      background: transparent linear-gradient(90deg, #7033FF 0%, #7033FFA6 100%) 0 0 no-repeat padding-box;
      &:after {
        content: " ";
        width: 2px;
        height: 37px;
        position: absolute;
        z-index: 2;
        right: 0;
        top: -1px;
        border-radius: 2px;
        background-color: #FFFFFF;
      }
    }
  }
  .overview {
    .count {
      width: 75px;
      height: 75px;
      color: #7033FF;
    }
  }
}

.card-header-blue {
  background-color: #4E7CFF;
}
.card-header-purple {
  background-color: #7033FF;
}
.card-header-red {
  background-color: #F65164;
}

.table {
  border-top-left-radius: 10px;
  border-spacing: 0;
  border-collapse: separate;
  thead {
    border-top-left-radius: 10px;
    th {
      border-top: 1px solid $primary;
      &:first-child {
        border-left: 1px solid $primary;
        border-top-left-radius: 10px;
      }
      &:last-child {
        border-right: 1px solid $primary;
        border-top-right-radius: 10px;
      }
    }
  }
  tbody {
    tr {
      td {
        &:first-child {
          border-left: 1px solid $primary;
        }
        &:last-child {
          border-right: 1px solid $primary;
        }
      }
      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 10px;
          }
          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
}
table th.sorting:after,
table th.sorting:before,
table th.sorting_asc:after,
table th.sorting_desc:before
{
  opacity: 0;
}
table thead .sorting:before,
table thead .sorting_asc:before,
table thead .sorting_desc:before,
table thead .sorting_asc_disabled:before,
table thead .sorting_desc_disabled:before,
table thead .sorting:after,
table thead .sorting_asc:after,
table thead .sorting_desc:after,
table thead .sorting_asc_disabled:after,
table thead .sorting_desc_disabled:after
{
  color: #56F750;
  bottom: 0;
  top: 0;
  font-size: 1rem !important;
  right: 1rem;
  padding: 15px;
}

.card-exhibitor-visitor {
  cursor: pointer;
  &:hover {
    .card-img-overlay {
      background-color: $primary;
    }
    .card-exhibitor-visitor-info {
      div {
        display: flex !important;
      }
    }
  }
  .card-img {
    height: 300px;
    object-fit: cover;
  }
  .card-img-overlay {
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;
      height: 30%;
      background: linear-gradient(to top, #242542, rgba(36, 37, 66, 0));
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    > div {
      z-index: 1;
    }
  }
  button:hover,
  a:hover {
    color: $success !important;
  }
  .card-title {
    span {
      background-color: rgba(78, 124, 255, 0.25);
    }
  }
}

.btn-gradient {
  background: transparent linear-gradient(90deg, #FF0057 0%, #800080 100%) 0 0 no-repeat padding-box;
  color: var(--bs-white);
  border-color: transparent !important;
}
.card-collection {
  .card-title {
    height: 42px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .card-text {
    height: 74px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .card-info {
    width: 80px;
    .card-info-type {
      height: 76px;
      border-top-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }
  .card-footer {
    z-index: 3;
    .btn {
      width: 25px;
      height: 25px;
    }
    .bg-danger {
      &:hover {
        background-color: var(--bs-danger) !important;
        color: var(--bs-white) !important;
      }
    }
    .bg-secondary {
      &:hover {
        background-color: var(--bs-success) !important;
        color: var(--bs-white) !important;
      }
    }
    .bg-blue {
      background-color: rgba(78, 124, 255, 0.5);
      color: rgba(78, 124, 255);
      &:hover {
        background-color: rgba(78, 124, 255);
        color: #fff;
      }
    }
    .card-footer-pause {
      display: none;
    }
    .card-footer-active {
      display: flex;
    }
  }
}
.card-collection-pause {
  &:after {
    content: ' ';
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 10px;
    z-index: 2;
  }
  .card-footer {
    .card-footer-pause {
      display: flex;
    }
    .card-footer-active {
      display: none;
    }
  }
}
.card-collection-add {
  height: 217px;
  background: transparent linear-gradient(180deg, #FF0057 0%, #800080 100%) 0 0 no-repeat padding-box;
  .card-info {
    div {
      width: 94px;
      height: 85px;
      border-top-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }
}
.card-collection-new {
  background-color: #800080;
  border-top-left-radius: 0;
}
.collection-active {
  margin-right: -24px;
}
.collection-item {
  .collection-avatar {
    width: 54px;
    height: 46px;
  }
}

.ck-editor__editable {
  min-height: 240px;
  color: $primary;
  border-bottom-left-radius: $border-radius !important;
  border-bottom-right-radius: $border-radius !important;
}
.ck-toolbar {
  border-top-left-radius: $border-radius !important;
  border-top-right-radius: $border-radius !important;
}
.card-collection-component {
  .btn {
    width: 25px;
    height: 25px;
  }
  .bg-danger {
    &:hover {
      background-color: var(--bs-danger) !important;
      color: var(--bs-white) !important;
    }
  }
  .bg-blue {
    background-color: rgba(78, 124, 255, 0.5);
    color: rgba(78, 124, 255);
    &:hover {
      background-color: rgba(78, 124, 255);
      color: #fff;
    }
  }
  .card-text {
    height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.card-exhibitor-product {
  .card-body {
    height: 300px;
  }
  .btn {
    width: 25px;
    height: 25px;
  }
  .bg-danger {
    &:hover {
      background-color: var(--bs-danger) !important;
      color: var(--bs-white) !important;
    }
  }
  .bg-blue {
    background-color: rgba(78, 124, 255, 0.5);
    color: rgba(78, 124, 255);
    &:hover {
      background-color: rgba(78, 124, 255);
      color: #fff;
    }
  }
}
.card-exhibitor-product-add {
  height: 360px;
  background: transparent linear-gradient(180deg, #FF0057 0%, #800080 100%) 0 0 no-repeat padding-box;
  .card-info {
    div {
      width: 94px;
      height: 85px;
      border-top-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
  }
}

.card-exhibitor-booth-selection,
.card-exhibitor-booth-config {
  .card-body {
    height: calc(100vh - 310px);
  }
}
.card-exhibitor-booth-canva {
  height: calc(100vh - 260px);
  button {
    bottom: 50px;
  }
}
.branding-color {
  height: 50px;
  cursor: pointer;
}
.branding-color-1 {
  background-color: #4B9CD4;
}
.branding-color-2 {
  background-color: #4898AC;
}
.branding-color-3 {
  background-color: #EFE0C2;
}

.photo-overlay {
  cursor: pointer;
  .photo-overlay-img {
    height: 180px;
    overflow: hidden;
  }
  img {
    object-fit: fill;
  }
}
.photo-booth-button {
  bottom: 50px;
}

@include media-breakpoint-down(lg) {
  .sidebar {
    z-index: 1032;
  }
  .has-sidebar {
    padding-left: 0;
  }
  .has-aside {
    padding-right: 0;
  }
  .aside {
    width: 100%;
    border-top: 1px solid $primary;
    background-color: rgba(var(--bs-primary-rgb), 0.75) !important;
    backdrop-filter: blur(16px) saturate(180%);
    &.h-main {
      min-height: auto;
      position: fixed;
      bottom: 80px;
      left: 0;
      right: 0;
    }
    & > div {
      display: flex;
      flex-direction: row;
    }
    .btn-nav-link {
      background-color: transparent;
      border: 0;
    }
  }
  .filters,
  .aside-box {
    width: 100%;
    height: 100%;
    z-index: 1031;
    overflow: auto;
    padding-bottom: 2rem;

    &.h-main {
      max-height: calc(100vh - 72px);
    }
  }
  .box-floating-chat {
    bottom: 148px;
  }
  .main-container {
    padding-bottom: 9.4rem;
  }
  .contact-map {
    position: relative !important;
    background-color: $dark !important;
    width: 100% !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .filter-datepicker {
    .datepicker-inline {
      table {
        width: auto;
        margin: 0 auto;
      }
    }
  }
  .card-event-added {
    width: 50%;
  }
  .aside-content-tab {
    height: calc(100vh - 270px);
  }
  .expand-aside {
    display: none;
  }
  .floating-chatroom,
  .floating-question,
  .floating-search {
    width: 100%;
  }
  .box-floating {
    width: 100%;
  }
  .floating-question {
    .card {
      height: 100% !important;
    }
  }
  .networking-conversations {
    overflow: auto;
  }
  .owl-carousel {
    max-width: 99vw;
  }
}
.item-attendee {
  width: 70px;
  height: 70px;
  margin-left: -5px;
  img {
    object-fit: cover;
  }
  &:first-child {
    padding-left: 5px;
  }
}
.items-attendee {
  &:hover {
    .all-attendee {
      cursor: pointer;
      display: flex !important;
    }
  }
}

/* Gamification */
.gamification-avatar {
  > div {
    width: 32px;
    height: 32px;
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid $primary;
  }
}
.gamification-leaderboard {
  &.gamification-bronze {
    padding: 3px;
  }
  &.gamification-silver {
    padding: 3px;
  }
  &.gamification-gold {
    padding: 3px;
  }
  > div {
    width: 28px;
    height: 28px;
  }
  img {
    width: 66px;
    height: 66px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid $primary;
  }
}
.leaderboard-list {
  .leaderboard-quest {
    img {
      height: 24px;
      object-fit: cover;
      margin-left: .25rem;
    }
  }
  .leaderboard-count {
    width: 1rem;
    text-align: right;
  }
}
.gamification-progress {
  background: $dark;
}
.gamification-bronze {
  background: linear-gradient(136deg, #AD7D5D 0%, #EFCDA2 23%, #F7D6B6 27%, #F0BB92 37%, #FEE2C3 47%, #D4B192 55%, #D29C77 66%, #DCA681 100%);
  border-radius: 50%;
  padding: 4px;
}

.gamification-silver {
  background: linear-gradient(136deg, #859CAD 0%, #DDE4E4 23%, #E5EBE8 27%, #6E90A1 37%, #C3CCCC 47%, #BFC9CA 55%, #7394A5 66%, #B8CADA 100%);
  border-radius: 50%;
  padding: 4px;
}

.gamification-gold {
  background: linear-gradient(136deg, #FDCE0A 0%, #F8F27D 23%, #F8F27D 27%, #FDCE0A 42%, #ECA315 47%, #FDCE0A 55%, #F8F27D 66%, #FDCE0A 100%);
  border-radius: 50%;
  padding: 4px;
}
.progress-bar {
  background: $progress-bar-bg;
}
.progress-sm {
  height: .375rem;
}
.progress-xs {
  height: .25rem;
}
.quest-badge {
  width: 48px;
  height: 48px;
  background-color: $body-bg;
}
.gamification-claim {
  button {
    color: $body-color;
  }
}
.quest-popover {
  background-color: $primary;
  border: 0;
  box-shadow: $box-shadow-lg;
  width: 300px;
  .popover-arrow::before,
  .popover-arrow::after {
    border-right-color: $primary !important;
  }
  .progress {
    background: $dark;
  }
}

@include media-breakpoint-down(md) {
  .collection-active {
    margin-right: 0;
  }
}

@include media-breakpoint-down(sm) {
  .nav-fill{
    .nav-item {
      flex: 0 0 auto;
      overflow-wrap: anywhere;
    }
  }
  .card-event-added {
    width: 90%;
  }
}
